@model IEnumerable<PuntiDecurtatiPerTrasgressoreViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-4">
    <h1 class="mb-4 text-center text-light">Totale Punti Decurtati per Trasgressore</h1>

    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Cognome</th>
                <th>Nome</th>
                <th>Punti Decurtati</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Cognome</td>
                    <td>@item.Nome</td>
                    <td>@item.TotalePuntiDecurtati</td>
                </tr>
            }
        </tbody>
    </table>
</div>

